<nav class="navbar navbar-inverse navbar-fixed-top">

	<a class="navbar-brand" routerLink="/" routerLinkActive="active">Kwetter</a>

	<ul class="nav navbar-nav" style="float:right!important">
		<li>
			<a routerLink="/websocket" routerLinkActive="active">Websocket</a>
		</li>
		<li>
			<a routerLink="/start" routerLinkActive="active">Start</a>
		</li>
		<li>
			<a routerLink="/profile" routerLinkActive="active">Profiel</a>
		</li>
		<li>
			<a routerLink="/kwetteraar" routerLinkActive="active">Kwetteraars</a>
		</li>
		<li>
			<a routerLink="/registreren" routerLinkActive="active">Registreren</a>
		</li>
		<li>
			<a routerLink="/inloggen" routerLinkActive="active">Inloggen</a>
		</li>
		<li>
			<a routerLink="/uitloggen" routerLinkActive="active">Uitloggen</a>
		</li>
	</ul>

</nav>

<router-outlet></router-outlet>